<div id="banner">
    <div class="content">

<form action="/animals/<%= @animals.id %>" method="post">

  <label for="name"><p>Name:</p></label>
  <input id="name" type="text" name="name" value="<%= @animals.name %>">
  <label for="admission_date"><p>Admission Date:</p></label>
  <input id="admission_date" type="text" name="admission_date" value="<%= @animals.admission_date %>">
  <label for="age"><p>Age:</p></label>
  <input id="age" type="text" name="age" value="<%= @animals.age %>">
  <label for="sex"><p>Sex:</p></label>
  <input id="sex" type="text" name="sex" value="<%= @animals.sex %>">

  <input type="submit" value="Edit Animal">

</form>
</div>
</div>
