


<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Edit Animal

      </div>
      <br>
      <div class="right">
      <!-- <a href='/animals/new'>Back</a> -->
      </div>


      <br>
      <hr>
      <br>



<form action="/animals/<%= @animals.id %>" method="post">

  <label for="name"><p>Name:</p></label>
  <input id="name" type="text" name="name" value="<%= @animals.name %>">

  <label for="admission_date"><p>Admission Date:</p></label>
  <input id="admission_date" type="date" name="admission_date" value="<%= @animals.admission_date %>">

  <label for="age"><p>Age:</p></label>
  <input id="age" type="text" name="age" value="<%= @animals.age %>">

  <label for="sex"><p>Gender:</p></label>
  <input id="sex" type="text" name="sex" value="<%= @animals.sex %>">

  <label for="breed"><p>Breed:</p></label>
<input id="breed" type="text" name="breed" value="<%= @animals.breed %>">

<label for="adoptable"><p>Adoptable:</p></label>
<input id="adoptable" type="text" name="adoptable" value="<%= @animals.adoptable %>">

  <label for="image_path"><p>image path:</p></label>
  <input id="image_path" type="text" name="image_path" value="<%= @animals.image_path %>">


  <input type="submit" value="Save">

</form>

<br>
<br>
<br>
<br>
<br>




</div>
</div>
