
<!-- Animal index -->



<div id="banner">
    <div class="content">
      <p><a href='/animals/new'>Add Animal</a></p>
      <!-- <div class="container"> -->

<div class="flex">
<% @animals.each do |animal| %>
<div class="inner_flex">
   <img src="<%= animal.image_path %>" alt="animal">
  <p><a href="/animals/<%= animal.id %>"><%= animal.format_name %></a></p>

  <p>Admission Date: <%= animal.admission_date %></p>
  <p>Age: <%= animal.age %></p>
  <p>Sex: <%= animal.sex %></p>
  <p>Breed: <%= animal.breed %></p>
  <p>Adoptable: <%= if animal.adoptable then "yes" else "no" end%></p>


</div>
<% end %>
</div>
<!-- </div> -->
</div>
</div>
