<div id="banner">
    <div class="content">
<% @animals.each do |animal| %>

  <p><a href="/animals/<%= animal.id %>"><%= animal.format_name %></a></p>
  <p>Name: <%= animal.name %></p>
  <p>Admission Date: <%= animal.admission_date %></p>
  <p>Age: <%= animal.age %></p>
  <p>Sex: <%= animal.sex %></p>



<% end %>

<p><a href='/animals/new'>Add Animal</a></p>
</div>
</div>
