<div id="banner">
    <div class="content">

<div class="flex">
<img src="<%= @animal.image_path %>" alt="animal">

<div class="inner_flex">

<p>Name: <%= @animal.name %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Age: <%= @animal.age %></p>
<p>Sex: <%= @animal.sex %></p>
<p>Breed: <%= @animal.breed %></p>
<p>Adoptable: <%= if @animal.adoptable == 't' then "yes" else "no" end%></p>

</div>
</div>


<p> <a href="/animals/<%= @animal.id %>/edit">EDIT</a> </p>

<form class="" action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" value="DELETE">
</form>
</div>
</div>
