<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
      Animal Details

      </div>
      <br>
      <div class="right">
      <a href='/animals'>Back</a>
      </div>


      <br>
      <hr>
      <br>

<div class="flex2">
<img src="<%= @animal.image_path %>" alt="animal">

<div class="inner_flex2">

<p>Name: <%= @animal.name %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Age: <%= @animal.age %></p>
<p>Gender: <%= @animal.sex %></p>
<p>Breed: <%= @animal.breed %></p>
<p>Adoptable: <%= if @animal.adoptable == 't' then "yes" else "no" end%></p>

<div class="button">
  
<form class="" action="/animals/<%= @animal.id %>/edit" method="get">
        <input type="submit" value="EDIT">
        </form>

<form class="" action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" value="DELETE">
  </form>

</div>
</div>

<br>

<!-- <div class="button">
<form class="" action="/animals/<%= @animal.id %>/edit" method="get">
        <input type="submit" value="EDIT">
        </form>

<form class="" action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" value="DELETE"> -->


</div>

<br>

<br>
</div>
</div>
