

<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Adoptions

      </div>
      <br>
      <div class="right">
      <a href='/adoptions/new'>Add Adoption</a>
      </div>



      <br>
      <hr>
      <br>

<table>
  <tr>
  <th><p>Animal</p></th>
  <th><p>Adopted by</p></th>
  <th><p>Adoption date</p></th>

<% @adoptions.each do |adoption| %>

  <tr>


  <td><p><%= adoption.animal.name %></p></td>
  <td><p><%= adoption.owner.first_name %> <%= adoption.owner.last_name %></p></td>
  <td><p><%= adoption.adoption_date %></p></td>
  <td><p><a href="/adoptions/<%= adoption.id %>">Details</a></p></td>

<% end %>
</table>




<br>

<br>
<br>
<br>
<br>



</div>
</div>
