<!-- views/adoptions/new.erb -->

<div id="banner">

    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Add Adoption

      </div>
      <br>
      <div class="right">
      <a href="/adoptions">Back</a>
      </div>



      <br>
      <hr>
      <br>



        <form action="/adoptions" method="post">

            <label>
                <p>Select an animal:</p>
                <select name="animal_id">
                    <% for animal in @animals %>
                    <% if animal.adoptable == 't' %>
                    <option value="<%= animal.id %>"><%= animal.name %></option>
                    <% end %>
                    <% end %>
                </select>
            </label>

            <label>
                <p>Select an owner:</p>
                <select name="owner_id">
                    <% for owner in @owners %>
                    <option value="<%= owner.id %>"><%= owner.first_name %> <%= owner.last_name %></option>
                    <% end %>
                </select>
            </label>

            <p><label for="adoption_date">Adoption date:</label></p>
            <input id="adoption_date" type="date" name="adoption_date">

            <p><input type='submit' value="Save"></p>

        </form>

        <br>

        <br>


    </div>

</div>
