<!-- views/adoptions/show.erb -->

<div id="banner">

    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Adoption Details

      </div>
      <br>
      <div class="right">
      <!-- <a href='/adoptions/new'>Add Adoption</a> -->
      </div>



      <br>
      <hr>
      <br>

        <p>Animal: <%= Animal.find(@adoption.animal_id).name %></p>
        <p>Owner: <%= Owner.find(@adoption.owner_id).first_name %> <%= Owner.find(@adoption.owner_id).last_name %></p>
        <p>Adoption date: <%= @adoption.adoption_date %></p>

        <!-- <form action="/adoptions/<%= @adoption.id %>/edit" method="post">
            <input type="submit" value="EDIT">
        </form> -->
        <br>
        <form action="/adoptions/<%= @adoption.id %>/delete" method="post">
            <input type="submit" value="DELETE">
        </form>

    </div>

</div>
