<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
      Customer Details

      </div>
      <br>
      <div class="right">
      <a href="/owners">Back</a>
      </div>


      <br>
      <hr>
      <br>

<p>First Name: <%= @owner.first_name %></p>
<p>Last Name: <%= @owner.last_name %></p>
<p>Contact: <%= @owner.contact_no %></p>

<form class="" action="/owners/<%= @owner.id %>/edit" method="get">
            <input type="submit" value="EDIT">
        </form>

<form class="" action="/owners/<%= @owner.id %>/delete" method="post">
  <input type="submit" value="DELETE">
</form>
</div>
</div>
