<div id="banner">
    <div class="content">

<p>First Name: <%= @owner.first_name %></p>
<p>Last Name: <%= @owner.last_name %></p>
<p>Contact: <%= @owner.contact_no %></p>

<p> <a href="/owners/<%= @owner.id %>/edit">EDIT</a> </p>

<form class="" action="/owners/<%= @owner.id %>/delete" method="post">
  <input type="submit" value="DELETE">
</form>
</div>
</div>
